<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FightZone - Productos</title>
</head>
<body>
    <nav>
        <li><a href="categorias/guantes.html">Guantes</a></li>
        <li><a href="categorias/sacos.html">Sacos</a></li>
        <li><a href="categorias/ropa.html">Ropa</a></li>
        <li><a href="categorias/proteccion.html">Protección</a></li>
        <li><a href="categorias/vendas.html">Vendas</a></li>
    </nav>
    
</body>
</html>